/* 默认编辑器高度 */
.quill-editor {
    height: 500px;
    .ql-container {
        height: 400px;
    }
}

/* 分页默认居右显示 */
.pagination {
    display: flex;
    flex-direction: row-reverse;
    background: $--color-fff;
    height: 50px;
    align-items: center;
    padding: 0 16px;
}

/* 查询功能样式 */
.search-form {
    overflow: hidden;
    transition: 0.3s;
    padding: 0.16rem 0 0 0;
    background-color: white;
    .el-form-item {
        display: flex !important;
        div {
            display: flex;
            flex: 1 !important;
        }
    }

    .search-handle {
        padding: 0;
        height: 46px;
        min-width: 260px;
    }
    /deep/ .el-form-item--small.el-form-item {
        margin-bottom: 0.16rem;
    }
}

/* form表单基础样式 */
.base-form {
    .el-select {
        width: 100%;
    }
    .el-form-item__label {
        padding: 0 10px 0 0 !important;
    }
}

/* 详情表格形式展示样式 */
.base-form .table-info td {
    padding: 2px 10px;
}

.table-info {
    border: 1px solid #dcdfe6;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;

    td {
        padding: 10px;
        border: 1px solid #dcdfe6;
        .el-form-item {
            margin-bottom: 0px !important;
            input {
                border: 0;
            }
        }
    }
    tr {
        border: 1px solid #dcdfe6;
    }
    td.bg {
        background: #eee;
        text-align: right;
        width: 100px;
        font-weight: bold;
    }
}

.base-card {
    padding: 0.16rem;
    background-color: #fff;
}

.dialog-bottom {
    display: flex;
    flex-direction: row-reverse;
    border-top: 1px solid $--color-dividers;
    padding: 0.16rem 0.24rem 0 0;
    margin: 0.16rem -0.24rem 0 -0.24rem;
}

.base-scroll-y {
    overflow: hidden;
    overflow-y: auto;
    padding-right: 0.16rem;
}
